@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway.woff');
    src: url('../fonts/Raleway.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-Italic.woff');
    src: url('../fonts/Raleway-Italic.ttf') format('truetype');
    font-style: italic;
}

/* LATO */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
