@import url("_police.css");


/* ----- GLOBAL ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*RESET CSS*/
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
body {     
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1160px;
    width: 100%;
}
h1, h2, h3 {
    font-family: 'Lato', Arial, sans-serif;
}
strong {
    font-weight: 700;
}