@import url("_police.css");


/* ----- GLOBAL ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*RESET CSS*/
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
body {     
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1160px;
    width: 100%;
}
h1, h2, h3 {
    font-family: 'Lato', Arial, sans-serif;
}
strong {
    font-weight: 700;
}
/* ----- HEADER ----- */
header {
    background-color: #17abb3;
    color: #ffffff;
    max-height: 240px;
    height: 100%;
}
#picture {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    border: 5px solid #ffffff;
    border-radius: 90px;
    float: left;
    margin: 45px 100px 45px 100px;
}
#picture:hover {
    cursor: zoom-in;
}
/* ----- ASIDE ----- */
aside {
    background-color: rgba(23, 171, 179, 0.02);
    color: #333333;
    width: 30%;
}
/* ----- .CONTENT ----- */
.content {
    background-color: #ffffff;
    color: #333333;
    width: 70%;
}
/* ----- FOOTER ----- */
footer {
    background-color: #17abb3;
    color: #ffffff;
}